In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('output_data/cities.csv')
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Atuona,0,PF,1566338730,74,-9.80,-139.03,79.97,20.58
1,Quelimane,20,MZ,1566338731,77,-17.88,36.89,69.80,8.05
2,Hilo,40,US,1566338732,66,19.71,-155.08,84.20,4.70
3,Te Anau,100,NZ,1566338734,84,-45.41,167.72,38.21,3.91
4,Port Alfred,4,ZA,1566338735,92,-33.59,26.89,55.99,3.00

In [13]:
html_data = df.to_html

In [14]:
html_data

<bound method DataFrame.to_html of                     City  Cloudiness Country        Date  Humidity    Lat  \
0                 Atuona           0      PF  1566338730        74  -9.80
1              Quelimane          20      MZ  1566338731        77 -17.88
2                   Hilo          40      US  1566338732        66  19.71
3                Te Anau         100      NZ  1566338734        84 -45.41
4            Port Alfred           4      ZA  1566338735        92 -33.59
5                   Teya          75      MX  1566338736        94  21.05
6                Ruidoso           1      US  1566338737        46  33.33
7              Busselton           0      AU  1566338738        65 -33.64
8             Porto Belo          75      BR  1566338739        72 -27.15
9              Upernavik         100      GL  1566338742        86  72.79
10                   Ati         100      TD  1566338743        83  13.21
11          Punta Arenas          20      CL  1566338744        75 -53.16
12         Sioux Lookout          40      CA  1566338521        49  50.10
13        Saint-Augustin           5      CA  1566338746        39  45.63
14                 Airai          29      TL  1566338748        76  -8.93
15                Albany          20      US  1566338749        45  42.65
16                 Muros           0      ES  1566338750        82  42.77
17            Butaritari           6      KI  1566338751        71   3.07
18            Nouadhibou           0      MR  1566338752        73  20.93
19           New Norfolk          74      AU  1566338753        84 -42.78
20           Grand-Santi           3      GF  1566338756        95   4.27
21              Tasiilaq           0      GL  1566338757        39  65.61
22                 Kapaa          40      US  1566338758        78  22.08
23            Port Blair         100      IN  1566338759        81  11.67
24               Kumluca           0      TR  1566338760        64  36.37
25            Rock Sound         100      BS  1566338762        74  24.90
26              Thompson          75      CA  1566338763        76  55.74
27           East London          16      ZA  1566338764        92 -33.02
28            Bredasdorp           0      ZA  1566338766        87 -34.53
29               Ushuaia           0      AR  1566338769        60 -54.81
..                   ...         ...     ...         ...       ...    ...
497           Mandalgovi         100      MN  1566339375        77  45.76
498             Galesong          20      ID  1566339377        73  -5.32
499  Bosanska Kostajnica           0      HR  1566339245        88  45.22
500              Jiuquan          97      CN  1566339379        19  39.73
501           Rio Grande          40      BR  1566339112        75 -32.03
502            Bheramara         100      BD  1566339381        89  24.02
503     Russkaya Polyana          67      RU  1566339382        76  53.78
504       Vestmannaeyjar         100      IS  1566339384        80  63.44
505              Kirensk           2      RU  1566339385        96  57.78
506               Pueblo           1      US  1566339162         8  38.25
507            Ust-Kulom          66      RU  1566339387        99  61.69
508                Harur         100      IN  1566339388        96  12.06
509       Hendersonville          75      US  1566339184        59  36.30
510             Calabozo          37      VE  1566339391        82   8.92
511             Kalmunai         100      LK  1566339392        78   7.42
512              Douglas          75      US  1566339394        33  58.28
513        Prince Rupert          90      CA  1566339395        82  54.32
514        Mount Gambier          90      AU  1566339396        93 -37.83
515             Balasore         100      IN  1566339397        89  21.50
516            Manitowoc          20      US  1566339162        74  44.09
517               Thaton         100      MM  1566339400        88  16.91
518                 Buta          84      CD  1566339401        93   2.79
519               Borzna           0      UA  1566339402        62  51.25
520          San Lorenzo          16      HN  1566339403        44  13.43
521                 Nago           0      IT  1566339405        69  45.88
522                Moron          65      HT  1566339406        71  18.56
523          Ventersburg           0      ZA  1566339407        42 -28.08
524               Boysun           0      UZ  1566339408        36  38.20
525         Rio Gallegos           0      AR  1566339409        75 -51.62
526                Colac          94      AU  1566339410        98 -38.34

        Lng  Max Temp  Wind Speed
0   -139.03     79.97       20.58
1     36.89     69.80        8.05
2   -155.08     84.20        4.70
3    167.72     38.21        3.91
4     26.89     55.99        3.00
5    -89.07     81.00        5.82
6   -105.67     91.40       12.44
7    115.35     62.51       20.33
8    -48.54     60.80        4.70
9    -56.15     42.89        4.92
10    18.34     76.55        6.06
11   -70.91     41.00       13.87
12   -91.92     69.80       10.29
13   -73.98     82.99        8.05
14   125.41     65.75        5.01
15   -73.75     86.00        6.93
16    -9.06     73.00        5.82
17   172.79     84.83       10.29
18   -17.03     73.40       20.80
19   147.06     42.01        3.00
20   -54.38     78.89        2.59
21   -37.64     48.20       11.41
22  -159.32     84.00       13.87
23    92.75     83.03       21.39
24    30.29     61.97        3.36
25   -76.20     83.39       10.83
26   -97.86     57.20       11.41
27    27.91     52.43        3.83
28    20.04     54.00        5.82
29   -68.31     42.80        6.93
..      ...       ...         ...
497  106.27     48.11        3.44
498  119.37     77.00        4.70
499   16.54     73.40        0.78
500   98.49     67.01        5.93
501  -52.10     46.40        6.93
502   89.00     80.15        5.91
503   73.88     52.97        3.65
504  -20.27     51.89       32.75
505  108.12     43.61        1.66
506 -104.61    102.00        8.05
507   53.69     54.95        3.89
508   78.48     72.77        7.29
509  -86.62     95.00        3.74
510  -67.43     85.01        2.73
511   81.82     77.45        2.39
512 -134.39     62.60       13.87
513 -130.32     60.80        9.17
514  140.78     51.80       16.11
515   86.92     79.25        2.37
516  -87.66     82.99        9.17
517   97.37     78.53       12.01
518   24.73     69.89        1.79
519   32.43     67.55        6.46
520  -87.45     94.37        4.41
521   10.89     80.60        4.70
522  -74.26     83.75        5.12
523   27.14     49.73       11.90
524   67.20     51.71        3.60
525  -69.22     41.00       14.99
526  143.59     53.01        3.00

[527 rows x 9 columns]>