In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('output_data/cities.csv')
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Rikitea,36,PF,1566566585,72,-23.12,-134.97,70.02,13.94
1,Tasiilaq,40,GL,1566566912,75,65.61,-37.64,42.80,2.24
2,Mataura,91,NZ,1566566853,81,-46.19,168.86,44.01,4.00
3,Jalu,0,LY,1566567200,16,29.03,21.55,100.36,12.12
4,Hobart,20,AU,1566566782,57,-42.88,147.33,51.80,14.99

In [10]:
html_data = df.to_html

In [11]:
df.to_html('output_data/table_data.html')